fastapi>=0.70.0,<0.71.0
pydantic>=1.8.0,<2.0.0
uvicorn[standard]>=0.15.0,<0.16.0
flake8
pip>=21.3.1,<24.0.0
functionwords
lexicalrichness
beautifulsoup4==4.11.1
regex==2022.4.24
requests==2.27.1
urllib3==1.26.9
websockets==10.3
gunicorn==20.1.0
whois==0.9.16
joblib==1.1.0
python-whois
scikit-learn==1.0.2

